.intro {
  width: 100%;
  background-image: url("../img/intro-bg.webp");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-bg@2x.webp");
  }
}

.intro__container {
  padding: 235px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    object-fit: cover;
    padding-right: 50px;
    min-width: 766px;
    min-height: 525px;
  }

  & h2 {
    font-size: 42px;
    line-height: 50px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    margin-bottom: 18px;
    max-width: 50%;
    margin-top: -23px;
  }

  & p {
    font-size: 20px;
    line-height: 24px;
    max-width: 60%;
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (max-width: $vp-1200) {
  .intro__container {
    & h2 {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 15px;
      max-width: 100%;
    }

    & p {
      font-size: 16px;
      line-height: 20px;
      max-width: 50%;
      text-align: center;
    }
  }
}

@media (max-width: $vp-768) {
  .intro__container {
    & img {
      margin-bottom: 40px;
    }

    & h2 {
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 10px;
      text-align: center;
    }

    & p {
      font-size: 14px;
      line-height: 18px;
      max-width: 100%;
      text-align: center;
    }
  }
}
