.promo {
  overflow: hidden;
  margin-top: -30px;
  background-image: url("../img/promo-bg.webp");
  background-size: cover;
  background-position: center center;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/promo-bg@2x.webp");
  }
}

.promo__container {
  width: 100%;
  padding: 0 0 81px;
  display: flex;
  min-height: 1024px;
  gap: 160px;
  justify-content: center;
}

.promo__picture {
  position: relative;
  min-height: 891px;
  max-width: 50%;
  padding-top: 30px;
  padding-left: 30px;

  & img {
    width: 100%;
    min-height: 891px;
  }

  &::before {
    position: absolute;
    content: "";
    border-radius: 686px;
    border: 1px solid #000000;
    opacity: 0.2;
    background-color: #416df4;
    mix-blend-mode: lighten;
    filter: blur(100px);
    width: 680px;
    height: 686px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.promo__description {
  padding-top: 58px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 632px;

  & h2 {
    font-size: 30px;
    line-height: 35px;
    color: #416df4;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    margin-bottom: 43px;
  }
}

.promo__sort {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 8px;

  & span {
    display: flex;
    border: 1px solid rgba(103, 29, 0, 0.48);
    font-size: 12px;
    line-height: 14px;
    color: #671d00;
    padding: 4px;
    min-width: 140px;
    max-width: 140px;
    align-items: center;
    justify-content: center;
  }
}

.promo__options {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 176px;
  width: 100%;

  & li {
    display: flex;
    min-height: 74px;
    align-items: center;
    padding: 4px 6px;
    border: 1px solid rgba(103, 29, 0, 0.48);
    border-radius: 1px;

    & img {
      width: 64px;
      height: 64px;
      background-color: #000000;
    }

    & div {
      display: flex;
      gap: 9px;
    }
  }
}

.promo__name {
  line-height: 19px;
  width: 180px;
  margin-right: auto;
  margin-left: 18px;
}

.promo__point {
  width: 139px;
  text-align: center;

  &:first-child {
    width: 140px;
  }
}

.promo__offer {
  display: flex;
  position: relative;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/offer.webp");
    width: 402px;
    height: 323px;
    background-size: cover;
    top: -35%;
    transform: translate(0, -35%);
    left: 0;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/offer@2x.webp");
    }
  }
}

.promo__price {
  display: flex;
  flex-direction: column;
  gap: 11px;
  bottom: 57px;
  left: 263px;
  padding-left: 80px;

  & span {
    font-size: 50px;
    line-height: 59px;
  }

  & button {
    border: none;
    background-color: #fcff00;
    border-radius: 7px;
    min-width: 180px;
    min-height: 40px;
    line-height: 19px;
    cursor: pointer;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: #416df4;
      color: $color-default-white;
    }

    &:not(:disabled):active {
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.1;
      cursor: default;
    }
  }
}

@media (max-width: $vp-1200) {
  .promo__container {
    gap: 20px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }

  .promo__picture {
    min-height: 445px;
    max-width: 50%;

    & img {
      width: 100%;
      min-height: 445px;
    }

    &::before {
      min-width: 440px;
      min-height: 443px;
    }
  }

  .promo__description {
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
    min-width: 632px;

    & h2 {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }

  .promo__sort {
    & span {
      display: flex;
      border: 1px solid rgba(103, 29, 0, 0.48);
      font-size: 12px;
      line-height: 14px;
      color: #671d00;
      padding: 4px;
      min-width: 140px;
      max-width: 140px;
      align-items: center;
      justify-content: center;
    }
  }

  .promo__name {
    margin-left: 10px;
  }

  .promo__offer {
    width: 600px;
    margin: 0 auto;
  }
}

@media (max-width: $vp-768) {
  .promo {
    margin-top: 0;
  }

  .promo__container {
    width: 100%;
    padding-bottom: 40px;
    gap: 10px;
  }

  .promo__picture {
    position: relative;
    height: 331px;
    max-width: 100%;

    & img {
      width: 100%;
      height: 331px;
    }

    &::before {
      width: 340px;
      height: 343px;
    }
  }

  .promo__description {
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
    min-width: 290px;

    & h2 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  .promo__sort {
    width: fit-content;
    margin-left: auto;
    max-width: 50%;
    gap: 8px;

    & span {
      font-size: 8px;
      line-height: 10px;
      padding: 4px;
      min-width: auto;
      max-width: 100%;
    }
  }

  .promo__options {
    margin-bottom: 40px;

    & li {
      min-height: 44px;
      padding: 5px 6px 4px;

      & img {
        width: 44px;
        height: 44px;
      }

      & div {
        display: flex;
        gap: 8px;
        max-width: 50%;
        min-width: 145px;
      }
    }
  }

  .promo__name {
    width: auto;
    min-width: 70px;
    margin-right: auto;
    font-size: 10px;
    line-height: 12px;
    flex: 1;
  }

  .promo__point {
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    min-width: 69px;
    max-width: 90px;

    &:first-child {
      width: auto;
    }
  }

  .promo__offer {
    width: 290px;
    margin: 0 auto;

    &::before {
      width: 201px;
      height: 161px;
      top: -15%;
      transform: translate(0, -15%);
      left: 0;
    }
  }

  .promo__price {
    display: flex;
    flex-direction: column;
    gap: 20px;
    bottom: 57px;
    left: 263px;
    padding-left: 60px;

    & span {
      font-size: 24px;
      line-height: 28px;
    }

    & button {
      border: none;
      background-color: #fcff00;
      border-radius: 7px;
      min-width: 90px;
      width: 100%;
      min-height: 40px;
      cursor: pointer;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
