// Colors
// ---------------------------------
// Default
$color-default-black: #000000;
$color-default-white: #ffffff;

// Typography
// ---------------------------------
// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-placeholder: "Roboto", "Arial", sans-serif;

// Animation
// ---------------------------------
$trans-default: transform 0.3s ease;

// Viewports
// ---------------------------------
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 767px;
$vp-1024: 1024px;
$vp-1200: 1199px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
